{% extends "python_exercise/base.html" %}

{% block title %}
{{ block.super }}
{% endblock title %}

{% block content %}

<!--Password Reset Complete-->
<div class="container-fluid bg-light d-flex flex-grow-1">
    <div class="container-fluid pt-2 bg-body max-width-1000px flex-grow-1">
        <div class="row">
            <div class="col">
                <div class="container p-4">
                    <h2 class="font-weight-bold mt-3">Сброс пароля завершен</h2>
                    <hr>
                    <p>Теперь вы можете попробовать войти</p>
                    <a href="{% url 'custom_auth:login' %}" class="btn btn-primary">Войти</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}