{% extends "python_exercise/base.html" %}


{% block title %}
{{ block.super }}
{% endblock title %}


{% block content %}

{% if validlink %}
<div class="container-fluid bg-light d-flex flex-grow-1">
    <div class="container-fluid pt-2 bg-body max-width-1000px flex-grow-1">
        <div class="row">
            <div class="col">
                <p>Пожалуйста придумайте новый пароль и подтвердите его.</p>
                <form action="" method="post" class="max-width-300px my-0 mx-auto">
                    <div style="display:none">
                        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.new_password1.id_for_label }}" class="form-label">
                            {{ form.new_password1.label_tag }}
                        </label>
                        {{ form.new_password1 }}

                        {% if form.new_password1.errors %}
                        <div class="alert alert-danger mt-3" role="alert">{{ form.new_password1.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.new_password2.id_for_label }}" class="form-label">
                            {{ form.new_password2.label_tag }}
                        </label>
                        {{ form.new_password2 }}

                        {% if form.new_password2.errors %}
                        <div class="alert alert-danger mt-3" role="alert">{{ form.new_password2.errors }}</div>
                        {% endif %}
                    </div>
                    <button id='submit' type="submit" class="btn btn-primary my-1 px-4" style="width: max-content">
                        Принять
                    </button>
                </form>
                {% else %}
                <h1>Ошибка сброса пароля</h1>
                <p> Ссылка на сброс пароля не действительна, возможно потому что она используется повторно. Пожалуйста
                    сделайте
                    новый
                    запрос на сброс пароля.
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}