{% extends 'python_exercise/base.html' %}
{% load pagination_tag %}

{% block title %}
{{ block.super }}
{% endblock title %}

{% block content %}
{% load static %}

<div class="container-fluid h-100">
    <div class="row flex-nowrap h-100">
        <!-- Боковая панель -->
        {% load sidebar_categories_tag %}
        {% sidebar_categories_tag %}
        <!-- Основное содержание -->
        <main class="col ps-md-2 pt-2 h-100 max-width-1000px bg-body mx-auto">

            <div class="content" id="content">
                <div class="row  ">
                    <div class="container-fluid text-left relative">
                        <a class="btn btn-body text-dark d-flex align-items-center" data-bs-toggle="collapse"
                            href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"
                            style="box-shadow: none; width: min-content">
                            <span class="d-inline-block me-2 ">
                                Теги
                            </span>
                            <img src="{% static 'python_exercise/img/arrow_down.svg' %}" style="height: 18px" alt="">
                        </a>
                        <div class="collapse" id="collapseExample">
                            <ul class="list-group">
                                {% for tag in tags %}
                                <li class="list-group-item border-0">
                                    <a class="text-dark" href="
                                        {% if current_category %}
                                        {% url 'python_exercise:category_and_tag' category_slug=current_category.slug tag_slug=tag.slug %}
                                        {% else %}
                                        {% url 'python_exercise:tag' tag_slug=tag.slug %}
                                        {% endif %}">
                                        #{{ tag.name }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="page-header">
                            <h2 class="text-center" style="z-index:-10">{{ title }}</h2>
                            {% if current_tag %}
                            <h6 class="text-center" style="z-index:-10">#{{ current_tag.name }}</h6>
                            {% endif %}
                        </div>
                        <hr>

                        <div class="col-12">
                            {% for exercise in exercises %}
                            {% include 'python_exercise/exercise.html' %}
                            <hr>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row max-width-1000px mx-auto mb-2">
                        <div class="col-12">
                            {% pagination_tag %}
                        </div>
                    </div>
                </div>
        </main>
    </div>
</div>
{% endblock content %}