{% extends 'base.html' %}
{% load pagination_tag %}


{% block title %}
{{ block.super }}
{% endblock title %}

{% block head %}
<!-- Для комментариев через vk -->
<script src="https://vk.com/js/api/openapi.js?169" type="text/javascript"></script>
{% endblock head %}

{% block content %}
{% load static %}

<div class="container-fluid h-100">
    <div class="row flex-nowrap h-100">
        <!-- Боковая панель -->
        {% load sidebar_categories_tag %}
        {% sidebar_categories_tag %}
        <!-- Основное содержание -->
        <main class="col ps-md-2 pt-2 h-100 max-width-1000px bg-body mx-auto">

            <div class="content" id="content">
                <div class="row  ">
                    <div class="container-fluid text-left relative">
                        <div class="page-header">
                            <h2 class="text-center" style="z-index:-10">{{ title }}</h2>
                        </div>
                        <hr>
                        <div class="col-12">
                            {% include 'exercise.html' %}
                            <hr>
                        </div>
                    </div>
                </div>


                <div id="vk_comments" style="width: 100%; height: 500px"></div>
                <script type="text/javascript">
                    VK.init({
                        apiId: 8113311
                    });
                    VK.Widgets.Comments('vk_comments', {
                        limit: 10,
                        attach: "*",
                        pageURL: window.location.pathname
                    });
                </script>
        </main>
    </div>
</div>
{% endblock content %}